**/.terraform/*
*.tfstate
*.tfstate.*
infra/backend.tf
**/**.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.envrc
**/.terragrunt-cache/*
infra/environments/dev/.terraform.lock.hcl
infra/environments/prod/.terraform.lock.hcl
infra/environments/qa/.terraform.lock.hcl
